{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Add blog{% endblock title %}
{% block content %}
<h1 class="text-center">Add Blog</h1>
<form class="container bg-secondary rounded px-1 pb-1 text-light" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <p>
        link is not link what you mean about link how with protocol its for detect your blog
    </p>
    <button type="submi" class="btn btn-success">Add Blog</button>
</form>
{% endblock %}